{% extends 'app.html' %}

{% block app_content %}

<div class="card mb-3">
    <div class="card-header py-3">
        <h5 class="m-0">
            <i class="bi bi-calendar-check"></i>
            <span>Lista de agendamentos</span>
        </h5>
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Estabelecimento</th>
                </tr>
            </thead>

            <tbody>
                {% for self in agendamentos %}
                <tr class="align-middle">
                    <td>
                        {% if self.already_gone %}
					        <span class="badge bg-success">Agendado</span>
                        {% else %}
					        <span class="badge bg-danger">Expirado</span>
                        {% endif %}
                    </td>
                    <td>{{ self.data_hora|date:"d/m/Y" }} - {{ self.data_hora|date:"l" }}</td>
                    <td>{{ self.data_hora|time:"H:i" }}</td>
                    <td>{{ self.estabelecimento }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}