{% extends 'index.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
window.onload = function() {

    const barra = document.getElementById('barra').getContext('2d');
    const pizza = document.getElementById('pizza').getContext('2d');

    (new Chart(barra, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Agendamentos',
                data: {{ data|safe }},
                borderWidth: 1,
            }],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
                x: {
                    display: false
                }
            },
        }
    }));
    
    (new Chart(pizza, {
        type: 'pie',
        data: {
            labels: ['Aptos', 'Inaptos'],
            datasets: [{
                label: 'Usuários',
                data: {{ aptos_and_not|safe }},
                borderWidth: 1,
            }],
        },
        options: {
            plugins: {
                datalabels: {
                    formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value*100 / sum).toFixed(2)+"%";
                        return percentage;
                    },
                    color: '#fff',
                }
            }
        }
    }));
}
</script>

{% endblock %}

{% block content %}
<h1>Gráficos</h1>

<!--CA#01: O sistema deve exibir gráfico em
barra mostrando a quantidade de
agendamentos por estabelecimento
CA#02: O sistema deve exibir gráfico em
pizza mostrando a quantidade de usuários
cadastrados aptos ou inaptos para o
agendamento
CA#03: Caso um usuário não autenticado,
ou sem a permissão de superusuário tente
acessar a página, ele deve ser
redirecionado à página inicial do sistema
(História de Usuário #1) -->

<canvas id="barra"></canvas>
<canvas id="pizza"></canvas>


{% endblock %}