{% extends 'app.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
window.onload = function() {
    const barra = document.getElementById('barra').getContext('2d');
    const pizza = document.getElementById('pizza').getContext('2d');

    (new Chart(barra, {
        type: 'bar',
        data: {
            labels: {{ estab_labels|safe }},
            datasets: [{
                label: 'Agendamentos',
                data: {{ estab_data|safe }},
                borderWidth: 1,
            }],
        },
        options: {
            scales: {
                y: { beginAtZero: true, },
                x: { display: false }
            },
        }
    }));
    
    (new Chart(pizza, {
        type: 'pie',
        data: {
            labels: ['Aptos', 'Inaptos'],
            datasets: [{
                label: 'Usuários',
                data: {{ aptos_data|safe }},
                borderWidth: 1,
            }],
        },
    }));
}
</script>

{% endblock %}

{% block app_content %}

<div class="row">
    <div class="col-12 col-md-9">
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Gráfico de agendamentos</h6>
            </div>
            <div class="card-body">
                <canvas id="barra"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Gráfico de usuários</h6>
            </div>
            <div class="card-body">
                <canvas id="pizza"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}