{% load static %}
<html>
	<head>
		<title>Exames COVID-19</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content="Exames COVID-19">
		<meta name="description" content="Agendamento online para triagem de pessoas candidatas a um novo tipo de teste para detecção da covid-19 e suas variantes.">
		<meta name="keywords" content="covid,test,lais">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="Portuguese">

		<link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;base64,">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">

		{% block head %} {% endblock %}
	</head>
	<body>
		{% block content %} {% endblock %}
	</body>
</html>
