{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<form method="post" class="form-login" action="{% url 'login' %}">
	{% csrf_token %}

	<header class="login-header">
		<h3>Entrada</h3>
	</header>

	<div class="login-body">
		<div class="form-field">
			{% render_field form_login.cpf type="text" placeholder="CPF" %}
		</div>
		<div class="form-field">
			{% render_field form_login.senha type="password" placeholder="Senha" %}
		</div>
	</div>

	<footer class="login-footer">
		<a href="{% url 'register' %}">Registrar-se?</a>
		<input type="submit" value="Entrar">
	</footer>
</form>
{% endblock %}