{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<form method="post" class="form-login" action="{% url 'register' %}">
	{% csrf_token %}

	<header class="login-header">
		<h3>Auto cadastro</h3>
	</header>

	<div class="login-body">
		<div class="form-field">
			{% render_field form_candidato.nome_completo type="text" placeholder="Nome completo" %}
		</div>
		<div class="form-field">
			{% render_field form_candidato.cpf type="text" placeholder="CPF" %}
		</div>
		<div class="form-field">
			{% render_field form_candidato.data_nascimento type="date" %}
		</div>
		<div class="form-field">
			<!-- {% render_field form_candidato.grupos_atendimento %} -->
		</div>
		<!-- TODO(ellora): Implement this field -->
		<div class="form-field">
			<span>Teve COVID nos últimos 30 dias?</span>
			{% render_field form_candidato.teve_covid_recentemente %}
		</div>
		<div class="form-field">
			{% render_field form_candidato.senha type="password" placeholder="Senha" %}
		</div>
		<div class="form-field">
			{% render_field form_candidato.confirmacao_senha type="password" placeholder="Confirmar senha" %}
		</div>
	</div>

	<footer class="login-footer">
		<a href="{% url 'login' %}">Entrar na conta?</a>
		<input type="submit" value="Cadastrar-se">
	</footer>
</form>
{% endblock %}