{% extends 'index.html' %}
{% load static %}

{% block content %}
<form action="/" method="post" class="form-login">
	<header class="login-header">
		<h3>Entrada</h3>
	</header>

	<div class="login-body">
		<div class="form-field">
			<input type="text" placeholder="CPF" required>
		</div>
		<div class="form-field">
			<input type="password" placeholder="Senha" required>
		</div>
	</div>

	<footer class="login-footer">
		<a href="{% url 'register' %}">Registrar-se</a>
		<input type="submit" value="Entrar">
	</footer>
</form>
{% endblock %}